.LoginPage{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cfcfcf;
}

.LoginBoundary{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 4px;
    background-color: #ffffff;
    width: 600px;
}

.LoginTitle{
    width: 100%;
    display: inline-block;
    margin-bottom: 16px !important;
    font-size: 18px;
    font-weight: bold;
}

.LoginUsername{
    margin-bottom: 16px !important;
}

.LoginPassword{
    margin-bottom: 16px !important;
}

.LoginButtonsContainer{
    width: 100%;
}

.LoginEnter{
    margin-right: 16px !important;
}

.LoginRegister{
    position: absolute !important;
    right: 16px !important;
}
